In [1]:
import pandas as pd
from mtranslate import translate
from indic_transliteration import sanscript
from indic_transliteration.sanscript import SchemeMap, SCHEMES, transliterate

from indictrans import Transliterator # this is the main library

import dill
# dill.dump_session('translate_muslim.db')
# dill.load_session('translate_muslim.db')

In [20]:
df_temp = pd.read_excel('E:/maharshtra/temp.xlsx')
df_temp.head()

    गाँव का नाम
0  पायली भाताली
1  पायली भाताली
2  पायली भाताली
3  पायली भाताली
4  पायली भाताली

In [23]:
names = df_temp.iloc[:,0]

In [5]:
df = pd.read_excel('my.xlsx')
df.head()

          names Unnamed: 1
0          Abad        शतक
1         Abbas     अब्बास
2        Abbasi    अब्बासी
3       Abdalla   अब्दल्ला
4      Abdallah  अब्दल्लाह

In [30]:
trn = Transliterator(source='hin', target='eng')
# names = [df['names'][i] for i in range(len(df['names']))]
names = list(filter(None, names))
PB_names = []
for i in range(len(names)):
    try:
        name = names[i].strip()
        PB_names.append(trn.transform(name))
    except:
        continue

In [32]:
df_temp['Eng'] = PB_names

In [33]:
df_temp.to_excel('E:/maharshtra/temp.xlsx')

In [42]:
muslims_surname = pd.read_excel('muslims_surname.xlsx')
muslims_surname.head()

         name
0       Zalil
1      Zabbar
2      Sultan
3  Shhabuddin
4     Shersia

In [43]:
ms = list(muslims_surname['name'])
# muslims_surname
# names = df['names']
# ms1 = set(muslims_surname).union(set(ms))
# ms1 = list(filter(None, ms1))
# len(names)

In [48]:
trn = Transliterator(source='eng', target='mar')
# names = [df['names'][i] for i in range(len(df['names']))]
names = list(filter(None, ms))
MHindi_names = []
for i in range(len(names)):
    try:
        name = names[i].strip()
        MHindi_names.append(trn.transform(name))
    except:
        continue

In [67]:
len(Hindi_names)
# MHindi_names
Hindi_names
# ms1 = set(Hindi_names).union(set(MHindi_names))
# len(ms1)

['आबाद',
 'अब्बास',
 'अब्बासी',
 'अब्दुल्ला',
 'अब्दुल्लाह',
 'अब्देला',
 'अब्देलन्र',
 'अब्देलराहमण',
 'अब्दी',
 'एब्दो',
 'एब्दू',
 'अब्दो',
 'अब्दुल',
 'अब्दुल्ला',
 'अब्दुल्ला',
 'अबेड',
 'अबिद',
 'अबूड',
 'अबॉड़',
 'आबू',
 'एडेल',
 'अफ़्ज़ल',
 'आघा',
 'अहमद',
 'अहमदी',
 'अहमद',
 'एहसान',
 'अकबर',
 'अकबरी',
 'अकेल',
 'अख्तर',
 'अख्टर',
 'अकरम',
 'आलम',
 'आलम',
 'अली',
 'अल्लम',
 'एली',
 'एल्ली',
 'एली',
 'एली',
 'अमन',
 'अमारा',
 'आम्बर',
 'अमीन',
 'अमें',
 'आमेर',
 'अमीन',
 'अमिनी',
 'अमीर',
 'अमीर',
 'अमीरी',
 'अम्मर',
 'अंसारी',
 'अनवर',
 'अराफत',
 'अरीफ',
 'अर्षद',
 'असद',
 'अशरफ',
 'अस्लाम',
 'अस्मार',
 'असड',
 'असड',
 'असफ',
 'आतल्लाह',
 'अटआर',
 'आवान',
 'आय्दीन',
 'अयूब',
 'अयूब',
 'अयूब',
 'आजाद',
 'आज़म',
 'एज़ार',
 'अज़ीमी',
 'अज़ीज़',
 'अज़ीजी',
 'अज़्ज़म',
 'अज़्ज़ी',
 'अज़्ज़ी',
 'बऐचुस',
 'बस्कस',
 'बचो',
 'बद्दौर',
 'बडी',
 'बदौर',
 'बघेरी',
 'बहरी',
 'बैग',
 'बख्श',
 'बलुच',
 'बांगुरा',
 'बारकट',
 'बारी',
 'बाश',
 'बशर',
 'बशर',
 'बाशीर',
 'बातें',
 'बेगम',
 'बेन',
 'बेशारा',
 'बे',
 'बेडूँ',
 'बिलाल',
 'बिना',
 'बुर्की',
 'कन',
 'चाहीने',
 'दादा',
 'द्जनी',
 'डलाल',
 'दऑद',
 'दर',
 'डार्विश',
 'दावूड',
 'डेमियान',
 'ड्ब',
 'दिब',
 'दिन',
 'दौड़',
 'एब्राहिम',
 'एब्राहीमाई',
 'एडरिस',
 'इड',
 'एल-सयेड',
 'इलामीन',
 'एल्बाज',
 'इमामी',
 'फेडेल',
 'फहमी',
 'फस',
 'फराग',
 'फरह',
 'फराज',
 'फ़एयरे',
 'फरहा',
 'फरहट',
 'फरिड',
 'फेरिस',
 'फरमान',
 'फ़रूक',
 'फ़रूकी',
 'फरा',
 'फराह',
 'फरान',
 'फावाज़',
 'फ़ेयड',
 'फिर्माण',
 'गाबर',
 'गड़',
 'गल्ला',
 'घाफरी',
 'घनेम',
 'घानी',
 'घट्टास',
 'ग़ज़ल',
 'ग़ाज़ी',
 'ग्रेफस',
 'गुलेर',
 'हबीब',
 'हबीब',
 'हबीबी',
 'हदी',
 'हफीज़',
 'हैं',
 'हैदर',
 'हैदर',
 'हकीम',
 'हकीम',
 'हलबी',
 'हलीम',
 'हल्लाल',
 'हमद',
 'हमेडी',
 'हमदन',
 'हमद',
 'हमीद',
 'हामिद',
 'हमीदी',
 'हम्मद',
 'हैमौड़',
 'हना',
 'हनीफ',
 'हन्नान',
 'हक़',
 'हक',
 'हर्',
 'हरिरी',
 'हर्रन',
 'हरऊन',
 'हसन',
 'हसेन',
 'हशेम',
 'हशमी',
 'हाशिम',
 'हश्मी',
 'हसन',
 'हसन',
 'हासेन',
 'हटेम',
 'होडा',
 'होक',
 'होसें',
 'हुसैन',
 'हुसैनी',
 'हुदा',
 'हुक़',
 'हुसेन',
 'हुसैन',
 'हुसैन',
 'इब्राहिम',
 'इदरिस',
 'इमाम',
 'ईमान',
 'इकबाल',
 'ईरानी',
 'ईशाक',
 'इश्मेल',
 'इस्लाम',
 'इस्माईल',
 'इस्माईल',
 'जबरा',
 'जब्बार',
 'जब्ब्र',
 'जबर',
 'जबर',
 'जफरी',
 'जाफर',
 'जाफरी',
 'जलाली',
 'जलिल',
 'जमा',
 'जमेल',
 'जमाल',
 'जमील',
 'जान',
 'जावेद',
 'जाविड',
 'कबा',
 'कबा',
 'कबेर',
 'कबीर',
 'कदर',
 'कैसर',
 'कलील',
 'कलिल',
 'कमल',
 'कमली',
 'कमारा',
 'कामेल',
 'कनन',
 'करम',
 'करिम',
 'करीमी',
 'कस्सेम',
 'कजेमी',
 'काजी',
 'कजमी',
 'खलफ',
 'खालिद',
 'खलीफा',
 'खलिल',
 'खलीली',
 'खान',
 'खातिब',
 'खावाजा',
 'कोरोमां',
 'लहम',
 'लतिफ',
 'लोदी',
 'लोने',
 'मदनी',
 'मेडी',
 'माहदावी',
 'महदी',
 'महफाउज़',
 'महमूद',
 'महमौड़',
 'महमूद',
 'मजीद',
 'मजीद',
 'मालक',
 'मालेक',
 'मालिक',
 'मन्नन',
 'मंसूर',
 'मनसौर',
 'मनसौरी',
 'मंसूर',
 'मारूँ',
 'मसूद',
 'मासरी',
 'मस्ड',
 'मातर',
 'मार्टीन',
 'मात्तर',
 'मात्तर',
 'मीर',
 'मेस्किन',
 'मियाह',
 'मियाँ',
 'मीना',
 'मिनहास',
 'मीर',
 'मिर्जा',
 'मित्री',
 'मोगद्दम',
 'मोहमद',
 'मुहमेद',
 'मुहम्मद',
 'मुहम्मदी',
 'मुहम्मद',
 'मोहिउद्दीन',
 'मुला',
 'मोमिन',
 'मोना',
 'मोरड',
 'मोरदी',
 'मोस्टाफा',
 'मोउराद',
 'मौस',
 'मौस्सा',
 'मौस्टफ़ा',
 'मोवाड',
 'मुहम्मद',
 'मुहम्मद',
 'मुनीर',
 'मुराद',
 'मूसा',
 'मुसा',
 'मुस्तफ़ा',
 'नादेरी',
 'नागी',
 'नऐम',
 'नकवी',
 'नासिर',
 'नासिर',
 'नस्र',
 'नसर्ल्लाह',
 'नासिर',
 'नास्सिफ',
 'नवाज़',
 'नज़र',
 'नज़ीर',
 'नेमान',
 'नियाज़ी',
 'नूर',
 'नूरनी',
 'नूरी',
 'नौर',
 'नौरी',
 'ओबेइड',
 'ओदेह',
 'ओमर',
 'ओमर',
 'ओठमान',
 'ओज़ार',
 'पारसा',
 'पाशा',
 'पशिया',
 'पीरनी',
 'पोपाल',
 'पौर',
 'क़दीर',
 'क़सीम',
 'काज़ी',
 'क्वादरी',
 'राड',
 'रब्बनी',
 'रेड',
 'राडी',
 'रेडवान',
 'रफीक',
 'रहीम',
 'रहमान',
 'रहीम',
 'रहीमाई',
 'रहमान',
 'रहमाणी',
 'रइस',
 'रमजान',
 'रामिन',
 'रशेड',
 'रशीद',
 'रशीद',
 'रस्सी',
 'रसूल',
 'रऊफ',
 'राएस',
 'रहमान',
 'रहमान',
 'रेज़ा',
 'रियाज़',
 'रिज़क',
 'साब',
 'साद',
 'सादे',
 'सादेह',
 'साह',
 'सबा',
 'सबेर',
 'सबेट',
 'सबीर',
 'सादेक',
 'सडर',
 'सदीक',
 'सादरी',
 'सईद',
 'सफर',
 'सफ़ी',
 'सहली',
 'साईदी',
 'साला',
 'सलाम',
 'सलादीन',
 'सालाह',
 'सलाहुद्दीन',
 'सलाम',
 'सलामा',
 'सलेमे',
 'सलामेह',
 'सलीम',
 'सालेह',
 'सालेही',
 'सलेक',
 'सलेम',
 'सलीह',
 'सालिक',
 'सलीम',
 'सल्म',
 'सलमान',
 'समान',
 'समद',
 'समारा',
 'सामी',
 'सम्रा',
 'सानी',
 'सरह',
 'सरवर',
 'सत्तर',
 'सऐटर',
 'सवाया',
 'सयेड',
 'सेलिम',
 'सेमान',
 'सेस्य',
 'शबान',
 'शबाज',
 'शाद',
 'शएर',
 'शफी',
 'शाह',
 'शहन',
 'शहीद',
 'शाहीं',
 'शहीद',
 'शहीदी',
 'शहीं',
 'शेख',
 'शेकर',
 'शाकीर',
 'शकूर',
 'शाम',
 'शम्स',
 'शरफ',
 'शरीफ',
 'शरीफ',
 'शरीफ',
 'शरीफी',
 'शेहदेह',
 'शेहता',
 'शेख',
 'सिद्दीकी',
 'सिद्दिक',
 'सिद्दिकी',
 'सिनाई',
 'सोलीमान',
 'सोलतानी',
 'श्रूर',
 'सुलेमान',
 'सुलेमान',
 'सुल्तान',
 'सुल्ताना',
 'सिएड',
 'तबताबाई',
 'तबेट',
 'तहा',
 'तेहेरी',
 'ताहिर',
 'तामेर',
 'तारीक',
 'तविल',
 'तुर्य',
 'उद्दीन',
 'उल्ला',
 'उस्मान',
 'वाज़ीरी',
 'वोहरा',
 'वहब',
 'वाहबा',
 'वहीद',
 'वकीम',
 'वाली',
 'यकोब',
 'यमिन',
 'यासिन',
 'यास्सीन',
 'यूं',
 'यूनिस',
 'यूसफ',
 'यूसिफ',
 'यूसफ',
 'यूसुफ़',
 'युसुफ़',
 'ज़ादेह',
 'ज़फर',
 'ज़हर',
 'ज़ाहरा',
 'ज़ैदी',
 'जाकरिया',
 'ज़ाकी',
 'ज़मान',
 'ज़मानी',
 'ज़िया']

In [29]:
df1 = pd.read_excel('F:/Pdf of Constituencies/maharashtra (ballarpur)/original_v1.xlsx')
df1.head()

,Assembly Constituency,Part No,Serial No,Name,Epic ID,Geder,Age
0,72,65,1051,मनीष सुरेश तायडे,SRO7649544,M,18
1,72,354,971,विनोद कामटकर,SRO7662042,M,18
2,72,340,648,मिलिंद शेडमाके,SRO7679723,M,18
3,72,318,720,हेमंत बंडू बोरकुटे,SRO7599129,M,18
4,72,355,687,विनोद दशरथ कामटकर,SRO7589849,M,18

In [68]:
# Main_names = df1['Name']
split_names[1:]

['रामचंद्र', 'नागोसे']

In [72]:
#finding the muslims if the name matches the names in Hindi_names list
muslims = []
for i in range(len(Main_names)):
    split_names = Main_names[i].split()
    if len(set(split_names[1:]) & set(Hindi_names)) > 0:
        muslims.append('Muslims')
    else:
        muslims.append('Non-Muslims')

In [73]:
df1['Religion'] = muslims

In [75]:
df1.to_excel('F:/Pdf of Constituencies/maharashtra (ballarpur)/original_v2.xlsx', index=False)

In [71]:
len(muslims)
# muslims
# split_names = Main_names[0].split()
# split_names
# len(set(split_names) & set(Hindi_names))4
len(df1[df1['Religion'] == 'Muslims'])

12361

In [38]:
# for reference 
muslims = []
for i in range(len(Main_names)):
    split_names = Main_names[i].split()
    all(split_names in Hindi_names for item in items)
    for j in split_names:
        if j in Hindi_names:
            muslims.append('Muslims')
            break
#         else:
#             muslims.append('Non-Muslims')